* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Source Han Sans CN,Tahoma,Arial,sans-serif;
}
body, html {
  background-color: #f6f5f0;
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Source Han Sans CN,Tahoma,Arial,sans-serif;
}
li, ol, ul {
  list-style: none;
}
.index_pageHeader {
  position: fixed;
  height: 86px;
  width: 100%;
  line-height: 56px;
  padding: 15px 5%;
  background-color: #fff;
  z-index: 11;
}
.index_pageHeader .index_container {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
}

.logo img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    margin: 13px;
	box-sizing: border-box;
    padding: 0px;
	border: none;
	display: inline-block;
    width: 130px;
    height: 60px;
}
.index_left{
	flex: 1 1;
	position: absolute;
	left: 130px;
	
}
.index_pageHeader .index_container .index_left ul {
  display: inline-block;
  line-height: 56px;
  vertical-align: top;
  margin: 0;
}
.index_pageHeader .index_container .index_left ul li {
  display: inline-block;
}
.index_pageHeader .index_container .index_left ul li.index_active a {
  color: #c1af88;
}
.index_pageHeader .index_container .index_left ul li.index_active a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c1af88;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.index_pageHeader .index_container .index_left ul li a {
  line-height: 56px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 20px;
  position: relative;
}
a {
  text-decoration: none;
}
.index_pageHeader .index_container .index_right {
  position: absolute;
  right: 22px;
  top: 22px;
  height: 36px;
  line-height: 36px;
  flex: 1 1;
}
.index_pageHeader .index_container .index_right .index_thirdItem {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.index_pageHeader .index_container .index_right .index_thirdItem >span >img{
  position: relative;
  left: -4px;
}
.index_pageHeader .index_container .index_right .index_thirdItem .index_popup {
  position: absolute;
  width: 102px;
  height: 120px;
  bottom: -137px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #000;
  left: -32px;
  z-index: 5;
  background-color: #fff;
  opacity: 0;
  transform: translate3d(0,-10%,0);
  transition: all .2s ease;
}
.index_pageHeader .index_container .index_right .index_thirdItem:hover .index_popup {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.index_pageHeader .index_container .index_right .index_thirdItem .index_popup::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 30px;
  background: #000;
  top: -1px;
  left: 50%;
  transform: translate3d(-50%,-100%,0);
}
.index_pageHeader .index_container .index_right .index_thirdItem .index_popup > img {
  width: 92px;
  margin: 5px 5px 0;
  display: block;
}
.index_pageHeader .index_container .index_right .index_thirdItem .index_popup p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 20px;
}

.style_container1 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 4;

}
.style_container1 .style_centerText {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 500px;
  left: 0;
  width: 100%;
  z-index: 5;
  transform: translateY(-50%);
}
.style_container1 .style_centerText div {
  font-size: 60px;
  font-weight: 600;
  line-height: 120px;
}
.style_container1 .style_centerText p {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 6px;
}
.style_container1 .style_poster {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.style_container1 .style_descContainer {
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 900px;
  margin: 0 8.3vw;
  z-index: 1;
  padding: 4vw 7vw;
}
.style_container1 .style_descContainer > h2 {
  font-weight: 600;
  color: #000;
  font-size: 40px;
}
.style_container1 .style_descContainer .style_introduce .style_left {
  padding-right: 10.3vw;
}
.style_container1 .style_descContainer .style_introduce .style_left .style_longtext {
  padding-top: 32px;
  padding-right: 32px;
  line-height: 32px;
}
.style_container1 .style_descContainer .style_introduce .style_right {
  text-align: right;
  position: absolute;
  bottom: 40px;
  right: 60px;
  margin: 20px;
}

.index_container2 {
	position: absolute;
	width: 100%;
	top: 1300px;
    padding-bottom: 200px;
}

.index_titleContainer1 ,.index_titleContainer2 {
	text-align: center;
}

.index_titleContainer1 
.index_title {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.index_titleContainer2{
	height: 0;
}
.index_titleContainer2
.index_subTitle {
    font-size: 25px;
    font-weight: 400;
	position: relative;
	top: -35px;
	left: 130px;
    color: #000;
	
}
.index_titleContainer2
.index_subTitle 
a:hover{
  text-decoration: underline;  /*鼠标放上去有下划线*/
}

.index_TableHeader {
    background: #c1af88;
    border-radius: 30px 30px 0 0;
	position: relative;
	top: 40px;
	width: 72%;
    margin: 0 auto;
    padding: 40px 30px;
    color: #fff;
	
}

.index_TableHeader 
.index_mainTitle {
    font-size: 24px;
    margin-bottom: 10px;
}
.index_TableHeader 
.index_subTitle {
    font-size: 16px;
    margin-top: 6px;
}
.index_table{
	height: auto;
	width: 100%;
}
.index_productTable {
	position: relative;
	top: 40px;
	width: 72%;
	left: 14%;
    border-radius: 0 0 30px 30px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2px;
    row-gap: 2px;
    grid-column-gap: 2px;
    column-gap: 2px;
}

.index_productTable
.index_productTableCell {
    background-color: #fff;
    padding: 50px 30px;
}
.index_productTable
.index_productTableCell
.index_productTableCellContent
.index_productTableCellContentImg
{
	text-align: center;
}
.index_productTable
.index_productTableCell
.index_productTableCellContent
.index_productTableCellContentImg
img{
	height: 80%;
	width: 80%;
}
.index_productTable
.index_productTableCell
.index_productTableCellContent
.index_productTableCellContentTitle{
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	color: #000;
	text-shadow:  0px 0px 10px saddlebrown;
}
.index_productTable
.index_productTableCell
.index_productTableCellContent
.index_productTableCellContentInfo{
	text-align: center;
	padding-top: 20px;

}